## This is the sandbox to try out different scripts for Brock Common Tallwood House project

In [140]:
from brock_comm_CLT_perform import CLT_perform
import pandas as pd
from datetime import datetime as dt

In [149]:
trial_1 = CLT_perform("Floor 3.csv")
datasheet = trial_1.worksheet

In [84]:
#datasheet.head()

#### - get datetime right (done)

In [150]:
datasheet.iloc[0,0]

'2016-04-30 23:00:00-0700'

In [155]:
datasheet['Date'] = datasheet["DateTime"].apply(lambda x: dt.strptime(x, "%Y-%m-%d %H:%M:%S%z").date())
datasheet['Time'] = datasheet["DateTime"].apply(lambda x: dt.strptime(x, "%Y-%m-%d %H:%M:%S%z").time())

In [156]:
datasheet.head()

,DateTime,W 3rd Edge MC1A (8912/19),W 3rd Edge MC1B (8912/20),W 3rd Edge MC2 (8912/21),W 3rd Edge MC3 (8912/22),W 3rd Edge MC4 (8912/23),W 3rd Edge MC5 (8912/24),E 3rd Edge T1 (8901/17),E 3rd Edge T3 (8901/18),E 3rd Edge MC1A (8901/19),...,E 3rd T1 (8918/17),E 3rd T3 (8918/18),E 3rd MC1A (8918/19),E 3rd MC1B (SPL) (8918/20),E 3rd MC2 (8918/21),E 3rd MC3 (8918/22),E 3rd MC4 (8918/23),E 3rd MC5 (8918/24),Date,Time
0,2016-04-30 23:00:00-0700,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,2016-04-30,23:00:00
1,2016-05-01 01:00:00-0700,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,2016-05-01,01:00:00
2,2016-05-01 03:00:00-0700,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,2016-05-01,03:00:00
3,2016-05-01 05:00:00-0700,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,2016-05-01,05:00:00
4,2016-05-01 07:00:00-0700,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,2016-05-01,07:00:00

#### -